<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title></title>
		<style>
			html, body, table {
				width: 100%;
				height: 100%;
			}
			html, body, table, tbody, tr, td, th {
				padding: 0;
				margin: 0;
				border: none;
			}
			td, th {
				vertical-align: top;
			}
			table {
				table-layout: fixed;
				border-collapse: collapse;
			}

			td.column {
				border-width: 0 1px 0 0;
				border-style: solid;
				border-color: #000;
				padding-top: 20px;
			}

			.card {
				height: 100px;
				background-color: #fff;
				margin: 0 20px 20px;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td height="30" style="background-color: #000;">
						b
					</td>
				</tr>
				<tr>
					<td style="background-color: red;">
						<table>
							<tbody>
								<tr>
									<td width="50" style="background-color: orange;"></td>
									<td style="background-color: pink;">
										<div style="overflow: auto;" id="column_holder">
											<table>
												<tbody>
													<tr>
														<td class="column droppable">
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
															<div class="card"></div>
														</td>
														<td class="column droppable"></td>
														<td class="column droppable"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>
									<td width="50" style="background-color: green;"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td height="100" style="background-color: blue;">
						a
					</td>
				</tr>
			</tbody>
		</table>
		<script src="/javascripts/oatlib-ui.debug.js"></script>
	</body>
</html>
